Repository ESE-Peasy/NarrateMyWay, pull requests merged in 2021-03, with the labels that each got.

#33 Initial Database Development
  app/metro.config.js
  app/nmwstandard.json
  app/package-lock.json
  app/screens/MainScreen.tsx
  app/storage.tsx
Labels: local-storage

#41 37 create example expansion pack
  docs/NMW-Standard/Location-Encoding.md
  docs/NMW-Standard/Location-Specific-Information.md
  docs/NMW-Standard/NMW-Standard.md
  example_expansion_packs/expansion1.json
Labels: documentation, local-storage

#46 Implement settings screen
  app/components/BeaconInfo.tsx
  app/components/HeaderIcons.tsx
  app/components/LargeButton.tsx
  app/components/ScanningButton.tsx
  app/components/SwitchTheme.tsx
  app/components/__tests__/Components-test.js
  app/components/styles/BeaconInfo.style.tsx
  app/components/styles/LargeButton.style.tsx
  app/components/styles/ScanningButton.style.tsx
  app/components/styles/SwitchTheme.style.tsx
  app/constants/DefaultColors.ts
  app/constants/Header.ts
  app/navigation/index.tsx
  app/package-lock.json
  app/package.json
  app/screens/MainScreen.tsx
  app/screens/NotFoundScreen.tsx
  app/screens/ScanningScreen.tsx
  app/screens/SettingsScreen.tsx
  app/src/state/store.tsx
  app/src/state/themes/actions.tsx
  app/src/state/themes/reducer.tsx
  app/src/state/types.tsx
  app/src/themes.tsx
  app/types.tsx
Labels: front-end

#58 Updated Local Storage Class for Expansion Packs
  app/expansion1.json
  app/screens/MainScreen.tsx
  app/storage.tsx
Labels: local-storage

#59 Update theme option
  app/src/themes.tsx
Labels: front-end

#61 Expansion pack beacon logic implemented
  app/components/Alerts.tsx
  app/components/styles/Alerts.style.tsx
  app/expansion1.json
  app/package-lock.json
  app/package.json
  app/screens/MainScreen.tsx
  app/screens/ScanningScreen.tsx
  app/src/ble.ts
  app/src/lookup.tsx
  app/src/meta-fetcher.tsx
  app/src/state/bluetooth/actions.tsx
  app/src/state/bluetooth/reducer.tsx
  app/src/state/types.tsx
  app/src/storage.tsx
Labels: ble-interaction, centralised-database, front-end, local-storage
